@model AddMovieInputModel

@{
    ViewData["Title"] = "Add Movie";
}

<h1>Add Movie</h1>

<form class="text-center border border-light p-5" method="post" style="background-color:chocolate" asp-controller="Movie" asp-action="AddMovie">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Title" name="title" value="">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <select asp-for="Country" type="text" class="form-control" placeholder="Country" name="country">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Name">@country.Name</option>
            }
        </select>
        <span asp-validation-for="Country" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <select asp-for="Genre" type="text" class="form-control" placeholder="Genre" name="genre">
            @foreach (var genre in Model.Genres)
            {
                <option value="@genre.Name">@genre.Name</option>
            }
        </select>
        <span asp-validation-for="Genre" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Language">Language</label>
        <select asp-for="Language" type="text" class="form-control" placeholder="Language" name="language">
            @foreach (var language in Model.Languages)
            {
                <option value="@language.Name">@language.Name</option>
            }
        </select>
        <span asp-validation-for="Language" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="text" class="form-control" placeholder="Image" name="image" value="">
        <span asp-validation-for="Image" class="m-md-0 text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" type="datetime" class="form-control" placeholder="Release-Date" name="releaseDate" value="">
        <span asp-validation-for="ReleaseDate" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Budget">Budget</label>
        <input asp-for="Budget" type="text" class="form-control" placeholder="Budget" name="budget" value="">
        <span asp-validation-for="Budget" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomePage">Home page</label>
        <input asp-for="HomePage" type="text" class="form-control" placeholder="HomePage" name="homePage" value="">
        <span asp-validation-for="HomePage" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" type="text" class="form-control" placeholder="Description" name="description" value=""></textarea>
        <span asp-validation-for="Description" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Actors">Actors</label>
        <input asp-for="Actors" type="text" class="form-control" placeholder="Actors" name="actors" value="">
        <span asp-validation-for="Actors" class="m-md-0 text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add movie</button>
</form>