@model MovieViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    
    <div class="container" style="background: url()>
        <div class="row bg-light text-dark">
            @if (Model != null)
            {
                <h1>@Model.Title</h1>

                <div class="img-fluid">
                    <img src="~/@Model.ImageUrl" alt="Image" width="200" height="300">
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="my-3 ">Movie info</h3>

                    <h3 class="my-lg-n4 ">@Model.Language</h3>
                    <h3 class="my-3 "> <a href=@Model.HomePage>Home Page</a></h3>
                    <h3 class="my-3 ">@Model.Genre</h3>
                    <h3 class="my-3 ">@Model.Country</h3>
                    <h3 class="my-xl-0 ">@Model.Budget $</h3>
                    <h3 class="my-3 ">@Model.Description</h3>
                    <h3 class="my-3 ">@Model.ReleaseDate</h3>

                    <form method="post">
                        <a class="btn btn-danger" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" name="@Model.Id">Delete</a>
                    </form>
                    <a class="btn btn-warning" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" name="@Model.Id">Edit</a>

                    <a class="btn btn-primary" asp-controller="Movie" asp-action="Like" asp-route-id="@Model.Id" name="@Model.Id">Like: @Model.Likes</a>


                    <a class="btn btn-primary" asp-controller="Movie" asp-action="AddComment" asp-route-id="@Model.Id" >Write a comment</a>

                    @foreach (var item in Model.Actors)
                    {
                        <div class="containerComments darkerComments">
                            <p>@item</p>

                        </div>
                    }

                </div>
                <div>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5 col-md-6 col-12 pb-4">
                                    <h1>Comments</h1>
                                    @foreach (var item in Model.Comments)
                                     {
                                        <div class="comment mt-4 text-justify float-left">
                                            <h4>@item.UserFullName </h4> <span>@item.CreatedOn.ToString("g")</span> <br>
                                            <p>@item.Description</p>
                                        </div>
                                     }
                                </div>

                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-12 center " data-animation="bounceInRight" data-delay="300">
                    <iframe width="170" height="128" src="https://www.youtube.com/embed/v=Rn2lgaNAiYk" frameborder="0" allowfullscreen="" style="max-width:100%; margin:0 auto; display:block;"></iframe>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v=Rn2lgaNAiYk" frameborder="0" allowfullscreen></iframe>
                <video controls>
                    <source src="https://www.youtube.com/embed/v=Rn2lgaNAiYk" type='video/webm; codecs="vp8.0, vorbis"' />
                    <source src='movie.ogv' type='video/ogg; codecs="theora, vorbis"' />
                    <source src='movie.mp4' type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"' />
                    <p>This is fallback content</p>
                </video>
                <iframe width="20" height="70" src="//www.youtube.com/embed/v=Rn2lgaNAiYk" frameborder="0" allowfullscreen></iframe>

            }
            else
            {
                <h1>Not Found</h1>
            }






        </div>
    </div>
    
    
    

    
</body>
