@model MovieViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container">
    @if (Model != null)
    {
        <h1>@Model.Title</h1>
        <div class="row align-items-start">
            <div class="col">
                <div class="movie-image-details align-content-center">
                    <img src="@Model.ImageUrl" alt="Image" width="200" height="300">
                </div>
                <button class="btn btn-outline-primary" id="movieInfo" name="id" value="@Model.Id">Show info</button>
                @if (Model.Creator == User.Identity.Name)
                {
                    <a class="btn btn-danger" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" name="@Model.Id">Delete</a>

                    <a class="btn btn-warning" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" name="@Model.Id">Edit</a>
                }
                @if (!Model.IsUserLiked)
                {
                    <a class="btn btn-primary" asp-controller="Movie" asp-action="Like" asp-route-id="@Model.Id" name="@Model.Id">Like: @Model.Likes</a>
                }
                <button class="btn btn-primary" >Likes: @Model.Likes</button>

                <a class="btn btn-primary" asp-controller="Movie" asp-action="AddComment" asp-route-id="@Model.Id">Write a comment</a>
                <div class="card-body" style="display: none" id="info">
                    <h3 id="genre-info"></h3>
                    <h3 id="country-info"></h3>
                    <h3 id="language-info"></h3>
                    <h3 id="budget-info"></h3>
                    <h3 id="date-info">Release date: </h3>
                    <div class="comment mt-4 text-justify float-left " style="margin: 0 0 auto">
                        <h3 id="description-info"></h3>
                    </div>
                    <h3 id="homepage-info"></h3>
                </div>
            </div>
            <div class="col">

                <iframe width="560" height="315" src="@Model.HomePage" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>







                @foreach (var item in Model.Actors)
                {

                    <h3>@item</h3>


                }




                <h1>Star Rating</h1>
                <form method="post" asp-controller="Movie" asp-action="RateMovie">

                    <div class="rating">

                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                        <input type="hidden" name="movieId" value="@Model.Id" />
                    </div>
                    <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit" value="Please rate">

                </form>


                



                <h1>Comments</h1>


                @foreach (var item in Model.Comments)
                {
                    <div class="card-body d-flex text-justify justify-content-center" style="display:inline-block">
                        <div class="comment float-left " style="margin: 0 0 auto">
                            <h4>@item.UserEmail</h4>
                            <p class="text-justify justify-content-center"  style="display:inline-block">@item.Description</p>
                               
                        </div>



                    </div>
                }
            </div>

            

        </div>

    }
    else
    {
        <h1>Not Found</h1>
    }

</div>

@*<div class="container-fluid col-md-12" style="background: url()>

        <div class="bg-light text-dark">
            <div class="col-md-12">
                @if (Model != null)
                {
                    <h1>@Model.Title</h1>

                    <div class="movie-image-details align-content-center">
                        <img src="@Model.ImageUrl" alt="Image" width="200" height="300">
                    </div>
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col">
                                <div class="col-md-4 text-center">
                                    <button class="btn btn-outline-primary" id="movieInfo" name="id" value="@Model.Id">Show info</button>
                                    <div class="card-body" style="display: none" id="info">
                                        <h3 id="genre-info"></h3>
                                        <h3 id="country-info"></h3>
                                        <h3 id="language-info"></h3>
                                        <h3 id="budget-info"></h3>
                                        <h3 id="date-info">Release date: </h3>
                                        <div class="comment mt-4 text-justify float-left " style="width: 550px; margin: 0 0 auto">
                                            <h3 id="description-info"></h3>
                                        </div>
                                        <h3 id="homepage-info"></h3>
                                    </div>



                                    @foreach (var item in Model.Actors)
                                    {
                                        <div class="containerComments darkerComments">
                                            <p>@item</p>

                                        </div>
                                    }
                                </div>
                                <div>
                                    @if (Model.Creator == User.Identity.Name)
                                    {
                                        <a class="btn btn-danger" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" name="@Model.Id">Delete</a>

                                        <a class="btn btn-warning" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" name="@Model.Id">Edit</a>
                                    }


                                    <a class="btn btn-primary" asp-controller="Movie" asp-action="Like" asp-route-id="@Model.Id" name="@Model.Id">Like: @Model.Likes</a>


                                    <a class="btn btn-primary" asp-controller="Movie" asp-action="AddComment" asp-route-id="@Model.Id">Write a comment</a>
                                </div>


                                <h1>Star Rating</h1>
                                <form method="post" asp-controller="Movie" asp-action="RateMovie">

                                    <div class="rating">

                                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                        <input type="hidden" name="movieId" value="@Model.Id" />
                                    </div>
                                    <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit" value="Please rate">

                                </form>


                                <div class="clear"></div>
                                <hr class="survey-hr">



                                <div class="col-sm-1">
                                    <section>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5 col-md-6 col-12 pb-4">
                                                    <h1>Comments</h1>
                                                    @foreach (var item in Model.Comments)
                                                    {
                                                        <div class="comment mt-4 text-justify float-left">
                                                            <h4>@item.UserEmail </h4> <span>@item.CreatedOn.ToString("g")</span> <br>
                                                            <p>@item.Description</p>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col col-md-12">
                                <iframe width="560" height="315" src="@Model.HomePage" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>


                }
                else
                {
                    <h1>Not Found</h1>
                }

            </div>
        </div>
    </div>*@

