@model InCinemaViewModel

<section class="cinema">
    <form class="cinema-form" asp-controller="Cinema" asp-action="InCinema">
        <select class="cinema-users" name="cinemaName"  >
            @foreach (var item in Model.CinemaNames)
            {
                <option vlaue="@item">
                    @item
            </option>
        }


        </select>
        <button type=submit>Go</button>
    </form>

    <article>
        <h1>Projections in @ViewBag.Name</h1>
    </article>
    <article class="cinema-projection">
        @for (int i = 0; i < 7; i++)
        {
            var today = DateTime.UtcNow;

            <article class="cinema-projection-item">
                <h1>@today.AddDays(i).DayOfWeek</h1>
                @if (Model.Projections.Any(x => x.ProjectionTime.Date.ToString() == @today.AddDays(i).Date.ToString()))
                {
                    @foreach (var item in Model.Projections.Where(x => x.ProjectionTime.Date.ToString() == @today.AddDays(i).Date.ToString()).ToList())
                    {
                        <article>
                            <h2>@item.CinemaHall</h2>
                            <h3>@item.MovieName</h3>
                            <h5>@item.Time</h5>
                        </article>
                    }
                }
                else
                {
                    <article style="background : pink">
                        <h2>No Item Found</h2>
                        <h3>No Item Found</h3>
                        <h5>No Item Found</h5>
                    </article>
                }



            </article>
        }


    </article>
</section>