@model MovieViewModel


<div class="movie">
    <div class="movie-image"> <span class="play"><span class="name">@Model.Title</span></span><span id="trailerUrl" style="display:none;">@Model.HomePage</span> <a href="#"><img src="@Model.ImageUrl" alt="" /></a> </div>
    <div class="rating">
        <p>RATING</p>
        <div class="stars">
            <div class="stars-in" style="width: @(Model.Rating * 12 +  "px")"> </div>
        </div>
        <span class="comments">@Model.Comments.Count().ToString()</span>
        <div >Likes: @Model.Likes</div>
    </div>

    <a class="btn btn-primary" asp-controller="Movie" asp-action="Details" asp-route-id=@Model.Id>Details</a>
</div>